<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<img src="https://i.imgur.com/GNreO1G.gif">
		<nav>
    		<ul>
        		<li><a href="/">work</a></li>
	        	<li><a href="/about">about</a></li>
    		</ul>
		</nav>
		<div class="container">
    	
      {{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:standardstoryco@gmail.com">email</a></li>
        		<li><a href="https://youtube.com/@standardstoryco">youtube</a></li>
			<li><a href="https://instagram.com/standardstoryco">instagram</a></li>
			</ul>
		</footer>
	</body>
</html>
